# 2021 빅데이터 통신 플랫폼 경진대회

**[주제]**

코로나 시대와 함께하는 국민의 음식, 배달 문화 변화에 대한 시각화 처리

**[배경]**

2019년부터 3년간 약 1,500억원의 정부 예산이 투입되어 통신, 유통 등 10개 플랫폼과 100여개의 센터가 연계된 "빅데이터 플랫폼 및 센터 구축" 사업이 진행 중에 있습니다.
본 대회는 통신 분야 플랫폼으로 선정된 KT와 충북대 주최로 통신 빅데이터 플랫폼(https://www.bigdata-telecom.kr) 내 데이터를 활용하여 포스트 코로나 시대 유의미한 인사이트 도출과 빅데이터 기반의 생태계 활성화를 목적으로 합니다.

**[대회 설명]**

빅데이터를 통해 코로나 시대 의미 있는 인사이트 도출
빅데이터 분석 생태계 활성화 및 아이디어 발굴

**[주최 / 주관]**

주최 : 충북대학교, KT 통신 빅데이터 플랫폼
주관 : 충북대학교, 데이콘

|평가기준|항목|상세|배점|
|---|---|---|---|
|Insight|인사이트 도출|국민들의 포스트 코로나 시대 준비에 도움이 되는가|35|
| |논리의 명확성|데이터로 적절하게 설명되는가|25|
|Visualiztion|가독성|디자인이 정보 전달에 도움되는가|20|
|Application|데이터 활용|데이터를 다양하게 활용하였는가|10|
|Code|코드 정리|코드가 오류 없이 실행되는가|10|

In [2]:
kt_data_path = r'C:\Users\Wyatt\wyatt37\data\ktVisual\kt_bigdata'
covid19_path = r'C:\Users\Wyatt\wyatt37\data\ktVisual\covid_19_dataset'

In [7]:
import pandas as pd
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

import os

In [8]:
file_list = os.listdir(kt_data_path)
file_list

['dlvr_call.csv',
 'popl.csv',
 'StartupOrClosing_Region.csv',
 'StartupOrClosing_Shop.csv',
 '전체 데이터 설명.hwp']

In [9]:
file_list = os.listdir(covid19_path)
file_list

['Case.csv',
 'PatientInfo.csv',
 'Policy.csv',
 'Region.csv',
 'SearchTrend.csv',
 'SeoulFloating.csv',
 'Time.csv',
 'TimeAge.csv',
 'TimeGender.csv',
 'TimeProvince.csv',
 'Weather.csv']

In [16]:
pd.read_csv(kt_data_path + '\\dlvr_call.csv')

,SN,PROCESS_DT,DLVR_REQUST_ENTRPS_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_ENTRPS_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_BRTC_NM,DLVR_STORE_SIGNGU_NM,DLVR_STORE_LEGALDONG_NM,DLVR_STORE_LI_NM,DLVR_STORE_ADSTRD_CODE,DLVR_STORE_RDNMADR_CODE,DLVR_DSTN_LEGALDONG_CODE,DLVR_DSTN_BRTC_NM,DLVR_DSTN_SIGNGU_NM,DLVR_DSTN_LEGALDONG_NM,DLVR_DSTN_LI_NM,DLVR_DSTN_ADSTRD_CODE,DLVR_DSTN_RDNMADR_CODE,DLVR_MAN_ID,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_NM,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_RECPT_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
0,3486929,2019-12-01,C000101,1,C000101,S0021950,족발/보쌈,1156013200,서울특별시,영등포구,신길동,\N,1156066000,115603000023,1159010800,서울특별시,동작구,대방동,\N,1159066000,115904157098,D0006140,3300,200,18000,1,승인:KB국민카드,2019-12-01 20:47:52,2019-12-01 20:48:11,2019-12-01 20:55:33,2019-12-01 21:00:15,\N
1,3486930,2019-12-01,C000099,1,C000099,S0039210,치킨,4128510200,경기도,고양시 일산동구,중산동,\N,4128552000,412854379205,4128510200,경기도,고양시 일산동구,중산동,\N,4128552000,412853193037,D0005898,2900,0,21900,1,승인:현대카드사,2019-12-01 21:58:07,2019-12-01 22:01:06,2019-12-01 22:20:53,2019-12-01 22:26:01,\N
2,3486932,2019-12-01,C000029,1,C000043,S0036135,치킨,4115010100,경기도,의정부시,의정부동,\N,4115051000,411504343421,4115011100,경기도,의정부시,녹양동,\N,4115062000,411504343083,D0000864,3500,200,19500,2,NaN,2019-12-01 22:20:31,2019-12-01 22:37:45,2019-12-01 22:58:27,2019-12-01 22:58:32,\N
3,3486933,2019-12-01,C000105,1,C000105,S0039956,돈까스/일식,4128510400,경기도,고양시 일산동구,장항동,\N,4128559000,412854379097,4128510500,경기도,고양시 일산동구,마두동,\N,4128556000,412854379158,D0001526,3500,0,18000,2,NaN,2019-12-01 21:40:39,2019-12-01 21:48:41,2019-12-01 22:06:35,2019-12-01 22:17:57,\N
4,3486934,2019-12-01,C000028,1,C000043,S0003074,치킨,4115010900,경기도,의정부시,금오동,\N,4115058000,411504343342,4115010900,경기도,의정부시,금오동,\N,4115058000,411503181019,D0000986,3500,200,18000,3,NaN,2019-12-01 19:44:37,2019-12-01 19:48:07,2019-12-01 19:54:30,2019-12-01 20:00:22,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296266,7750546,2020-03-31,C000237,1,C000237,S0021188,족발/보쌈,4121010200,경기도,광명시,철산동,\N,4121060000,4.12103E+11,4121010200,경기도,광명시,철산동,\N,4121059000,4.12103E+11,D0009705,3300,300,20900,2,NaN,2020-03-31 23:56,2020-03-31 23:56,2020-04-01 0:14,2020-04-01 0:18,\N
4296267,7750548,2020-03-31,C000104,1,C000102,S0021967,치킨,1156013300,서울특별시,영등포구,대림동,\N,1156070000,1.15603E+11,1162010200,서울특별시,관악구,신림동,\N,1162065500,1.16204E+11,D0002307,6300,200,26000,1,승인:신한카드,2020-03-31 23:55,2020-03-31 23:55,2020-04-01 0:17,2020-04-01 0:26,\N
4296268,7750550,2020-03-31,C000224,1,C000224,S0035329,분식,4127110400,경기도,안산시 상록구,본오동,\N,4127156000,4.12713E+11,4127310100,경기도,안산시 단원구,고잔동,\N,4127353500,4.12734E+11,D0009816,5500,200,17000,1,승인:롯데카드사,2020-03-31 23:58,2020-03-31 23:59,2020-04-01 0:18,2020-04-01 0:30,\N
4296269,7750552,2020-03-31,C000130,1,C000130,S0002286,족발/보쌈,4128112300,경기도,고양시 덕양구,화정동,\N,4128162200,4.12813E+11,4128112800,경기도,고양시 덕양구,행신동,\N,4128165500,4.12814E+11,D0002233,4000,300,35000,2,NaN,2020-03-31 23:56,2020-04-01 0:01,2020-04-01 0:16,2020-04-01 0:23,\N
4296270,7750553,2020-03-31,C000209,1,C000209,S0022157,야식,1154510200,서울특별시,금천구,독산동,\N,1154562000,1.15453E+11,1154510200,서울특별시,금천구,독산동,\N,1154563000,1.15454E+11,D0009002,3300,300,30000,1,승인:비씨카드사,2020-03-31 23:55,2020-03-31 23:56,2020-04-01 0:11,2020-04-01 0:15,\N

In [14]:
pd.read_csv(kt_data_path + '\\popl.csv', encoding='cp949')

,base_ymd,ori_table,tmzon_se_code,sexdstn_se_code,agrde_se_code,adstrd_code,local_pop,fore_pop_1,fore_pop_2
0,20200212,2,F,age_50,11110515,205,0,0,NaN
1,20200212,2,F,age_15,11110515,78,0,0,NaN
2,20200212,21,F,age_10,11110515,28,0,0,NaN
3,20200212,7,F,age_10,11110515,49,0,0,NaN
4,20200212,16,M,age_25,11110515,291,0,0,NaN
...,...,...,...,...,...,...,...,...,...
25950440,20200518,8,M,age_25,11740700,369,0,0,NaN
25950441,20200518,0,F,age_10,11740700,104,0,0,NaN
25950442,20200518,22,M,age_25,11740700,356,0,0,NaN
25950443,20200518,18,F,age_30,11740700,306,0,0,NaN
25950444,20200518,23,F,age_40,11740700,347,0,0,NaN

In [13]:
pd.read_csv(kt_data_path + '\\StartupOrClosing_Region.csv', encoding='cp949')

,INDEX,DATE,INDUTY_NM,BRTC_NM,SIGUNGU_NM,EMD,LA_DCMLPOINT_VALUE,LO_DCMLPOINT_VALUE,DIVISION
0,1,20200101,고등학교,서울,관악구,봉천동,37.487***,126.943***,1
1,2,20200101,노인보호센터,전남,순천시 상사면,오곡리,34.909***,127.461***,1
2,3,20200101,노인생활복지시설,강원,강릉시,용강동,37.754***,128.890***,1
3,4,20200101,돼지국밥,경남,창원시 마산합포구,현동,35.147***,128.557***,1
4,5,20200101,레저용품대여,전북,군산시,비응도동,35.939***,126.529***,1
...,...,...,...,...,...,...,...,...,...
87850,87851,20200630,휴대폰,대구,중구,남산1동,35.859***,128.591***,0
87851,87852,20200630,휴대폰,충북,진천군 진천읍,읍내리,36.857***,127.444***,0
87852,87853,20200630,휴대폰,강원,원주시,중앙동,37.348***,127.951***,0
87853,87854,20200630,휴대폰악세사리제조,경기,화성시 정남면,망월리,37.153***,127.012***,1
87854,87855,20200630,휴대폰악세사리제조,경기,화성시 정남면,망월리,37.153***,127.012***,1

In [17]:
pd.read_csv(kt_data_path + '\\StartupOrClosing_Shop.csv', encoding='cp949')

,No,DATE,INDUTY_NM,CMPNM,INDUTY_CODEM,division
0,1,20200101,CCTV,(주)실라전자,319013,1
1,2,20200101,가공식품도매(기타),송현동1986발효이야기,452199,1
2,3,20200101,가구판매(종합),더갤러리전주점,571100,1
3,4,20200101,가정부.파출부소개,모두인력파출,839103,1
4,5,20200101,가정부업알선,모두인력파출,839101,1
...,...,...,...,...,...,...
234227,234228,20200630,휴대폰,이지더폰,581410,0
234228,234229,20200630,휴대폰,황소통신,581410,0
234229,234230,20200630,휴대폰악세사리제조,(주)에이아이이,156916,1
234230,234231,20200630,휴대폰악세사리제조,무지개산업,156916,1
234231,234232,20200630,휴대폰액세서리,케이스앤케이스(CASE&CASE),839951,1